
@font-face {
    font-family: "kimjungchulScript";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "kimjungchulScript";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "kimjungchulScript";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulScript/kimjungchulScript-Bold.ttf") format("truetype");
    font-display: swap;
}
.kimjungchulScript {
    font-family: "kimjungchulScript";
}
.kimjungchulScript300 {
    font-family: "kimjungchulScript";
    font-weight: 300;
}
.kimjungchulScript400 {
    font-family: "kimjungchulScript";
    font-weight: 400;
}
.kimjungchulScript700 {
    font-family: "kimjungchulScript";
    font-weight: 700;
}